body {
  padding:0;
}
div.entry,
div.entryFree {
  margin:2em 1ex;
  font-family: Arial,sans-serif;
}
.entry ol {
  padding:0 0 0 2ex;
  margin: 1ex 0 1ex 0;
}
.entry ul {
  margin-left:0;
  padding-left:2ex;
}
.sense1 b,
.sense2 b {
  float:left;
  margin-right:0.5ex;
}
.sense1{
  margin-bottom:1em;
  margin-bottom:1ex;
}
.sense2{
  margin-left:1ex;
  margin-bottom:1ex;
}
.entry p {
  margin:0.5ex 0 0.2ex 0;
  text-indent:0;
}
p.dictScrap {
  margin:1ex 0 1ex 0;
  text-indent:0;
}
blockquote {
  margin:0.8ex 0 0.8ex 6ex;
  line-height:110%;
}
.sense2 blockquote {
  margin-left:3ex;
}
div.H {
  background:#eee;
  padding:2px 1px 2px 0.7ex;
  margin-top:1em;
}
div.H blockquote {
  margin-left:5.6ex;
}
div.sense2 blockquote {
  margin-left:5ex;
}
.quote {
  font-family: serif;
  font-size:110%;
}
label {
  font-size:80%;
  float:left;
}
